.top-strip
{
  background-color: #1d1d1d;
  color: #fff;
}

.container-fluid
{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.welcome-img
{
    background-image: url(../images/pest-control-training.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:490px;
}

.home-header
{
	background-image: url(../images/homepage-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
	padding-top: 140px;
	padding-bottom: 140px;
}
.home-header h1 { font-size: 48px; font-weight: 800; color: #fff; }
.home-header h3 { font-size: 30px; font-weight: 400; color: #fff; padding-top: 20px; line-height: 38px; }


.innerpage-header
{
    background-image: url(../images/innerpage-header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.innerpage-header h1 { font-size: 48px; font-weight: 800; color: #fff; margin: 0px; padding: 0px; }
.innerpage-header h3 { font-size: 16px; font-weight: 400; color: #fff; padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px; }
.innerpage-header a:link {text-decoration: none; color: #fff;}
.innerpage-header a:visited {text-decoration: none; color: #fff;}
.innerpage-header a:hover {text-decoration: none; color: #ffcd16;}

.forms-page-bg
{
    background-image: url(../images/pesticide-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.forms-page-bg h1 { font-size: 36px; font-weight: normal; color: #fff; margin: 0px; padding: 0px; }
.forms-page-bg h2 { font-size: 30px; font-weight: normal; color: #fff; margin: 0px; padding: 0px; }
.forms-page-bg h3 { font-size: 17px; font-weight: 600; color: #585858; margin: 0px; padding: 0px; padding-top: 36px; padding-bottom: 40px; text-align: center; }
.forms-page-bg p { color: #fff; }
.secure-img { display: block; float: left; margin-right: 15px; margin-top: -8px; }
.first-login-btn { background-color: #16450b; border:1px solid #133c0a; padding: 14px; border-radius: 30px; font-size: 18px; font-weight: 700; text-align: center; color: #fff; padding-left:40px; padding-right:40px; }
.first-login-btn:hover { background-color: #449d44; border:1px solid #449d44; padding: 14px; border-radius: 30px; font-size: 18px; font-weight: 700; text-align: center; color: #fff; padding-left:40px; padding-right:40px; }
.first-login-btn:focus { background-color: #449d44; border:1px solid #449d44; padding: 14px; border-radius: 30px; font-size: 18px; font-weight: 700; text-align: center; color: #fff; padding-left:40px; padding-right:40px; }


.list-leaf-style li {
        position: relative;
        list-style-type: none;
        padding-top: 20px;
        padding-left: 5px;
        line-height: 25px;
        font-size: 16px;
    }

.list-leaf-style li:before {
        content: "";
        position: absolute;
        top: 23px;
        left: -36px;
        width: 26px;
        height: 26px;
        background-image: url('../images/leaf.png');
    }

.text-semi-bold {font-weight: 600;}
.text-bold {font-weight: 800;}

.top-strip a:link { text-decoration: none; color: #fff; display: block; padding: 12px; }
.top-strip a:hover { text-decoration: none; color: #9ac557; background-color: #3e3e3e; display: block; padding: 12px; }
.top-strip a:visited { text-decoration: none; color: #9ac557;  display: block; padding: 12px; }

.membership-blocks { width: 100%; background-color: #f4f4f4; padding-bottom: 54px; }
.membership-blocks h1 { color: #231f20; font-weight: 700; font-size: 24px; padding-top: 15px; padding-bottom: 10px; }
.membership-blocks p { color: #231f20; line-height: normal; font-size: 14px; }

.membership-blocks-heght { min-height: 80px !important;  }

.welcome {

    padding-left: 200px;
    padding-right: 40px;
}

.welcome h1 { font-weight: 700; color: #39a250; font-size: 30px; margin-top: 20px; margin-bottom: 20px; }

@media(min-width: 320px)
{
    .welcome { padding-left: 10px; padding-right: 10px; }
    .forms-page-bg { padding: 0px; padding-top: 0px; padding-bottom: 0px; }
    .secure-img { display: none; float: left; margin-right: 15px; }
    .form-box { padding-left: 0px; padding-right: 0px; }
}


@media(min-width: 1024px)
{
    .welcome { padding-left: 30px; padding-right: 20px; }
    .forms-page-bg { padding: 20px; padding-top: 30px; padding-bottom: 30px; }
    .secure-img { display: none; float: left; margin-right: 15px; }
    .form-box { padding-left: 30px; padding-right: 30px; }
}

@media(min-width: 1600px)
{
    .welcome { padding-left: 200px; padding-right: 20px; }
    .forms-page-bg { padding: 20px; padding-top: 30px; padding-bottom: 30px; }
    .secure-img { display: block; float: left; margin-right: 15px; }
    .form-box { padding-left: 30px; padding-right: 30px; }
}

@media(min-width: 1920px)
{
    .welcome { padding-left: 365px; padding-right: 20px; }
    .forms-page-bg { padding: 20px; padding-top: 30px; padding-bottom: 30px; }
    .secure-img { display: block; float: left; margin-right: 15px; }
    .form-box { padding-left: 30px; padding-right: 30px; }
}

@media(min-width: 1900px)
{
    .welcome { padding-left: 365px; padding-right: 20px; }
    .forms-page-bg { padding: 20px; padding-top: 30px; padding-bottom: 30px; }
    .secure-img { display: block; float: left; margin-right: 15px; }
    .form-box { padding-left: 30px; padding-right: 30px; }
}


/* button outline class */
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    border-radius: 30px;
    font-weight: 800;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
/* ******************** */


/* text size classes */
.text-10 { font-size:10px; }
.text-11 { font-size:11px; }
.text-12 { font-size:12px; }
.text-13 { font-size:13px; }
.text-14 { font-size:14px; }
.text-15 { font-size:15px; }
.text-16 { font-size:16px; }
.text-17 { font-size:17px; }
.text-18 { font-size:18px; }
.text-19 { font-size:19px; }
.text-20 { font-size:20px; }
.text-21 { font-size:21px; }
.text-22 { font-size:22px; }
.text-23 { font-size:23px; }
.text-24 { font-size:24px; }
.text-25 { font-size:25px; }
.text-26 { font-size:26px; }
.text-27 { font-size:27px; }
.text-28 { font-size:28px; }
.text-29 { font-size:29px; }
.text-30 { font-size:30px; }
.text-31 { font-size:31px; }
.text-32 { font-size:32px; }
.text-33 { font-size:33px; }
.text-34 { font-size:34px; }
.text-35 { font-size:35px; }
.text-36 { font-size:36px; }
.text-37 { font-size:37px; }
.text-38 { font-size:38px; }
.text-39 { font-size:39px; }
.text-40 { font-size:40px; }
.text-41 { font-size:41px; }
.text-42 { font-size:42px; }
.text-43 { font-size:43px; }
.text-44 { font-size:44px; }
.text-45 { font-size:45px; }
.text-46 { font-size:46px; }
.text-47 { font-size:47px; }
.text-48 { font-size:48px; }
.text-49 { font-size:49px; }
.text-50 { font-size:50px; }
.text-51 { font-size:51px; }
.text-52 { font-size:52px; }
.text-53 { font-size:53px; }
.text-54 { font-size:54px; }
.text-55 { font-size:55px; }
.text-56 { font-size:56px; }
.text-57 { font-size:57px; }
.text-58 { font-size:58px; }
.text-59 { font-size:59px; }
.text-60 { font-size:60px; }
/*---------------- */

.text-shadow { text-shadow: 2px 2px #000000; }
.text-shadow-blue { text-shadow: 1px 1px #023668; }


.btn-info
{
    background-color: #00b7ff;
    border-color: #00b7ff;
}

.btn-info:hover,
.btn-info:active,
.btn-info:visited,
.btn-info:focus {
    background-color: #0098d4;
    border-color: #0098d4;
}




/* href link classes */
a.graylink:link{text-decoration:none; color:#000000;}
a.graylink:visited{text-decoration:none; color:#000000;}
a.graylink:hover{text-decoration:none; color:#0071D0;}

a.lightgraylink:link{ color:#9d9ea0; text-decoration: none; }
a.lightgraylink:visited{ color:#9d9ea0; text-decoration: none; }
a.lightgraylink:hover{ color:#0071D0; text-decoration: none; }

.blue-link a:link { color:#009ce1; text-decoration: none; }
.blue-link a:visited { color:#009ce1; text-decoration: none; }
.blue-link a:hover { color:#009ce1; text-decoration: none; border:1px solid #009ce1; }



.lightgraytext { color:#9d9ea0; }
.darkgraytext { color:#493F40; }
.greentext { color:#4BAA06; }
ul.list-arrow { list-style-image:url(../img/list-arrow.png); padding-left:18px; }

.left-filter { border:2px solid #DBDBDB; background-color:#FFFFFF; }
.filter-label { font-weight:300; cursor:pointer; margin:0px; }
.border-lightgray { border:2px solid #E9E9E9; }
.darkgray-strip { background-color:#302A2A; padding-top:20px; padding-bottom:20px; }

.filter-label:hover {
    color:#0071D0;
  cursor:pointer;
}


a.greenlink:link{text-decoration:none; color:#4BAA06;}
a.greenlink:visited{text-decoration:none; color:#4BAA06;}
a.greenlink:hover{text-decoration:none; color:#4BAA06;}
/* ---------- */

/* background color classes */
.light-gray-bg { background-color:#F7F7F7; }
.gray-bg { background-color:#493F40; }
/* ----------- */

/* margin classes */
.nomargin { margin:0; }
.margin-1 { margin:1px; }
.margin-2 { margin:2px; }
.margin-3 { margin:3px; }
.margin-4 { margin:4px; }
.margin-5 { margin:5px; }
.margin-6 { margin:6px; }
.margin-7 { margin:7px; }
.margin-8 { margin:8px; }
.margin-9 { margin:9px; }
.margin-10 { margin:10px; }
.margin-11 { margin:11px; }
.margin-12 { margin:12px; }
.margin-13 { margin:13px; }
.margin-14 { margin:14px; }
.margin-15 { margin:15px; }
.margin-16 { margin:16px; }
.margin-17 { margin:17px; }
.margin-18 { margin:18px; }
.margin-19 { margin:19px; }
.margin-20 { margin:20px; }
.margin-21 { margin:21px; }
.margin-22 { margin:22px; }
.margin-23 { margin:23px; }
.margin-24 { margin:24px; }
.margin-25 { margin:25px; }
.margin-26 { margin:26px; }
.margin-27 { margin:27px; }
.margin-28 { margin:28px; }
.margin-29 { margin:29px; }
.margin-30 { margin:30px; }
.margin-31 { margin:31px; }
.margin-32 { margin:32px; }
.margin-33 { margin:33px; }
.margin-34 { margin:34px; }
.margin-35 { margin:35px; }
.margin-36 { margin:36px; }
.margin-37 { margin:37px; }
.margin-38 { margin:38px; }
.margin-39 { margin:39px; }
.margin-40 { margin:40px; }

.margin-left-0 { margin-left:0; }
.margin-left-1 { margin-left:1px; }
.margin-left-2 { margin-left:2px; }
.margin-left-3 { margin-left:3px; }
.margin-left-4 { margin-left:4px; }
.margin-left-5 { margin-left:5px; }
.margin-left-6 { margin-left:6px; }
.margin-left-7 { margin-left:7px; }
.margin-left-8 { margin-left:8px; }
.margin-left-9 { margin-left:9px; }
.margin-left-10 { margin-left:10px; }
.margin-left-11 { margin-left:11px; }
.margin-left-12 { margin-left:12px; }
.margin-left-13 { margin-left:13px; }
.margin-left-14 { margin-left:14px; }
.margin-left-15 { margin-left:15px; }
.margin-left-16 { margin-left:16px; }
.margin-left-17 { margin-left:17px; }
.margin-left-18 { margin-left:18px; }
.margin-left-19 { margin-left:19px; }
.margin-left-20 { margin-left:20px; }
.margin-left-21 { margin-left:21px; }
.margin-left-22 { margin-left:22px; }
.margin-left-23 { margin-left:23px; }
.margin-left-24 { margin-left:24px; }
.margin-left-25 { margin-left:25px; }
.margin-left-26 { margin-left:26px; }
.margin-left-27 { margin-left:27px; }
.margin-left-28 { margin-left:28px; }
.margin-left-29 { margin-left:29px; }
.margin-left-30 { margin-left:30px; }
.margin-left-31 { margin-left:31px; }
.margin-left-32 { margin-left:32px; }
.margin-left-33 { margin-left:33px; }
.margin-left-34 { margin-left:34px; }
.margin-left-35 { margin-left:35px; }
.margin-left-36 { margin-left:36px; }
.margin-left-37 { margin-left:37px; }
.margin-left-38 { margin-left:38px; }
.margin-left-39 { margin-left:39px; }
.margin-left-40 { margin-left:40px; }
.margin-left-41 { margin-left:41px; }
.margin-left-42 { margin-left:42px; }
.margin-left-43 { margin-left:43px; }
.margin-left-44 { margin-left:44px; }
.margin-left-45 { margin-left:45px; }
.margin-left-46 { margin-left:46px; }
.margin-left-47 { margin-left:47px; }
.margin-left-48 { margin-left:48px; }
.margin-left-49 { margin-left:49px; }
.margin-left-50 { margin-left:50px; }
.margin-left-51 { margin-left:51px; }
.margin-left-52 { margin-left:52px; }
.margin-left-53 { margin-left:53px; }
.margin-left-54 { margin-left:54px; }
.margin-left-55 { margin-left:55px; }
.margin-left-56 { margin-left:56px; }
.margin-left-57 { margin-left:57px; }
.margin-left-58 { margin-left:58px; }
.margin-left-59 { margin-left:59px; }
.margin-left-60 { margin-left:60px; }
.margin-left-61 { margin-left:61px; }
.margin-left-62 { margin-left:62px; }
.margin-left-63 { margin-left:63px; }
.margin-left-64 { margin-left:64px; }
.margin-left-65 { margin-left:65px; }
.margin-left-66 { margin-left:66px; }
.margin-left-67 { margin-left:67px; }
.margin-left-68 { margin-left:68px; }
.margin-left-69 { margin-left:69px; }
.margin-left-70 { margin-left:70px; }
.margin-left-71 { margin-left:71px; }
.margin-left-72 { margin-left:72px; }
.margin-left-73 { margin-left:73px; }
.margin-left-74 { margin-left:74px; }
.margin-left-75 { margin-left:75px; }
.margin-left-76 { margin-left:76px; }
.margin-left-77 { margin-left:77px; }
.margin-left-78 { margin-left:78px; }
.margin-left-79 { margin-left:79px; }
.margin-left-80 { margin-left:80px; }
.margin-left-81 { margin-left:81px; }
.margin-left-82 { margin-left:82px; }
.margin-left-83 { margin-left:83px; }
.margin-left-84 { margin-left:84px; }
.margin-left-85 { margin-left:85px; }
.margin-left-86 { margin-left:86px; }
.margin-left-87 { margin-left:87px; }
.margin-left-88 { margin-left:88px; }
.margin-left-89 { margin-left:89px; }
.margin-left-90 { margin-left:90px; }
.margin-left-91 { margin-left:91px; }
.margin-left-92 { margin-left:92px; }
.margin-left-93 { margin-left:93px; }
.margin-left-94 { margin-left:94px; }
.margin-left-95 { margin-left:95px; }
.margin-left-96 { margin-left:96px; }
.margin-left-97 { margin-left:97px; }
.margin-left-98 { margin-left:98px; }
.margin-left-99 { margin-left:99px; }
.margin-left-100 { margin-left:100px; }

.margin-right-0 { margin-right:0px; }
.margin-right-1 { margin-right:1px; }
.margin-right-2 { margin-right:2px; }
.margin-right-3 { margin-right:3px; }
.margin-right-4 { margin-right:4px; }
.margin-right-5 { margin-right:5px; }
.margin-right-6 { margin-right:6px; }
.margin-right-7 { margin-right:7px; }
.margin-right-8 { margin-right:8px; }
.margin-right-9 { margin-right:9px; }
.margin-right-10 { margin-right:10px; }
.margin-right-11 { margin-right:11px; }
.margin-right-12 { margin-right:12px; }
.margin-right-13 { margin-right:13px; }
.margin-right-14 { margin-right:14px; }
.margin-right-15 { margin-right:15px; }
.margin-right-16 { margin-right:16px; }
.margin-right-17 { margin-right:17px; }
.margin-right-18 { margin-right:18px; }
.margin-right-19 { margin-right:19px; }
.margin-right-20 { margin-right:20px; }
.margin-right-21 { margin-right:21px; }
.margin-right-22 { margin-right:22px; }
.margin-right-23 { margin-right:23px; }
.margin-right-24 { margin-right:24px; }
.margin-right-25 { margin-right:25px; }
.margin-right-26 { margin-right:26px; }
.margin-right-27 { margin-right:27px; }
.margin-right-28 { margin-right:28px; }
.margin-right-29 { margin-right:29px; }
.margin-right-30 { margin-right:30px; }
.margin-right-31 { margin-right:31px; }
.margin-right-32 { margin-right:32px; }
.margin-right-33 { margin-right:33px; }
.margin-right-34 { margin-right:34px; }
.margin-right-35 { margin-right:35px; }
.margin-right-36 { margin-right:36px; }
.margin-right-37 { margin-right:37px; }
.margin-right-38 { margin-right:38px; }
.margin-right-39 { margin-right:39px; }
.margin-right-40 { margin-right:40px; }
.margin-right-41 { margin-right:41px; }
.margin-right-42 { margin-right:42px; }
.margin-right-43 { margin-right:43px; }
.margin-right-44 { margin-right:44px; }
.margin-right-45 { margin-right:45px; }
.margin-right-46 { margin-right:46px; }
.margin-right-47 { margin-right:47px; }
.margin-right-48 { margin-right:48px; }
.margin-right-49 { margin-right:49px; }
.margin-right-50 { margin-right:50px; }
.margin-right-51 { margin-right:51px; }
.margin-right-52 { margin-right:52px; }
.margin-right-53 { margin-right:53px; }
.margin-right-54 { margin-right:54px; }
.margin-right-55 { margin-right:55px; }
.margin-right-56 { margin-right:56px; }
.margin-right-57 { margin-right:57px; }
.margin-right-58 { margin-right:58px; }
.margin-right-59 { margin-right:59px; }
.margin-right-60 { margin-right:60px; }
.margin-right-61 { margin-right:61px; }
.margin-right-62 { margin-right:62px; }
.margin-right-63 { margin-right:63px; }
.margin-right-64 { margin-right:64px; }
.margin-right-65 { margin-right:65px; }
.margin-right-66 { margin-right:66px; }
.margin-right-67 { margin-right:67px; }
.margin-right-68 { margin-right:68px; }
.margin-right-69 { margin-right:69px; }
.margin-right-70 { margin-right:70px; }


.margin-top-0 { margin-top:0px; }
.margin-top-1 { margin-top:1px; }
.margin-top-2 { margin-top:2px; }
.margin-top-3 { margin-top:3px; }
.margin-top-4 { margin-top:4px; }
.margin-top-5 { margin-top:5px; }
.margin-top-6 { margin-top:6px; }
.margin-top-7 { margin-top:7px; }
.margin-top-8 { margin-top:8px; }
.margin-top-9 { margin-top:9px; }
.margin-top-10 { margin-top:10px; }
.margin-top-11 { margin-top:11px; }
.margin-top-12 { margin-top:12px; }
.margin-top-13 { margin-top:13px; }
.margin-top-14 { margin-top:14px; }
.margin-top-15 { margin-top:15px; }
.margin-top-16 { margin-top:16px; }
.margin-top-17 { margin-top:17px; }
.margin-top-18 { margin-top:18px; }
.margin-top-19 { margin-top:19px; }
.margin-top-20 { margin-top:20px; }
.margin-top-21 { margin-top:21px; }
.margin-top-22 { margin-top:22px; }
.margin-top-23 { margin-top:23px; }
.margin-top-24 { margin-top:24px; }
.margin-top-25 { margin-top:25px; }
.margin-top-26 { margin-top:26px; }
.margin-top-27 { margin-top:27px; }
.margin-top-28 { margin-top:28px; }
.margin-top-29 { margin-top:29px; }
.margin-top-30 { margin-top:30px; }
.margin-top-31 { margin-top:31px; }
.margin-top-32 { margin-top:32px; }
.margin-top-33 { margin-top:33px; }
.margin-top-34 { margin-top:34px; }
.margin-top-35 { margin-top:35px; }
.margin-top-36 { margin-top:36px; }
.margin-top-37 { margin-top:37px; }
.margin-top-38 { margin-top:38px; }
.margin-top-39 { margin-top:39px; }
.margin-top-40 { margin-top:40px; }
.margin-top-41 { margin-top:41px; }
.margin-top-42 { margin-top:42px; }
.margin-top-43 { margin-top:43px; }
.margin-top-44 { margin-top:44px; }
.margin-top-45 { margin-top:45px; }
.margin-top-46 { margin-top:46px; }
.margin-top-47 { margin-top:47px; }
.margin-top-48 { margin-top:48px; }
.margin-top-49 { margin-top:49px; }
.margin-top-50 { margin-top:50px; }
.margin-top-51 { margin-top:51px; }
.margin-top-52 { margin-top:52px; }
.margin-top-53 { margin-top:53px; }
.margin-top-54 { margin-top:54px; }
.margin-top-55 { margin-top:55px; }
.margin-top-56 { margin-top:56px; }
.margin-top-57 { margin-top:57px; }
.margin-top-58 { margin-top:58px; }
.margin-top-59 { margin-top:59px; }
.margin-top-60 { margin-top:60px; }

.margin-bottom-0 { margin-bottom:0px; }
.margin-bottom-1 { margin-bottom:1px; }
.margin-bottom-2 { margin-bottom:2px; }
.margin-bottom-3 { margin-bottom:3px; }
.margin-bottom-4 { margin-bottom:4px; }
.margin-bottom-5 { margin-bottom:5px; }
.margin-bottom-6 { margin-bottom:6px; }
.margin-bottom-7 { margin-bottom:7px; }
.margin-bottom-8 { margin-bottom:8px; }
.margin-bottom-9 { margin-bottom:9px; }
.margin-bottom-10 { margin-bottom:10px; }
.margin-bottom-11 { margin-bottom:11px; }
.margin-bottom-12 { margin-bottom:12px; }
.margin-bottom-13 { margin-bottom:13px; }
.margin-bottom-14 { margin-bottom:14px; }
.margin-bottom-15 { margin-bottom:15px; }
.margin-bottom-16 { margin-bottom:16px; }
.margin-bottom-17 { margin-bottom:17px; }
.margin-bottom-18 { margin-bottom:18px; }
.margin-bottom-19 { margin-bottom:19px; }
.margin-bottom-20 { margin-bottom:20px; }
.margin-bottom-21 { margin-bottom:21px; }
.margin-bottom-22 { margin-bottom:22px; }
.margin-bottom-23 { margin-bottom:23px; }
.margin-bottom-24 { margin-bottom:24px; }
.margin-bottom-25 { margin-bottom:25px; }
.margin-bottom-26 { margin-bottom:26px; }
.margin-bottom-27 { margin-bottom:27px; }
.margin-bottom-28 { margin-bottom:28px; }
.margin-bottom-29 { margin-bottom:29px; }
.margin-bottom-30 { margin-bottom:30px; }
.margin-bottom-31 { margin-bottom:31px; }
.margin-bottom-32 { margin-bottom:32px; }
.margin-bottom-33 { margin-bottom:33px; }
.margin-bottom-34 { margin-bottom:34px; }
.margin-bottom-35 { margin-bottom:35px; }
.margin-bottom-36 { margin-bottom:36px; }
.margin-bottom-37 { margin-bottom:37px; }
.margin-bottom-38 { margin-bottom:38px; }
.margin-bottom-39 { margin-bottom:39px; }
.margin-bottom-40 { margin-bottom:40px; }
.margin-bottom-41 { margin-bottom:41px; }
.margin-bottom-42 { margin-bottom:42px; }
.margin-bottom-43 { margin-bottom:43px; }
.margin-bottom-44 { margin-bottom:44px; }
.margin-bottom-45 { margin-bottom:45px; }
.margin-bottom-46 { margin-bottom:46px; }
.margin-bottom-47 { margin-bottom:47px; }
.margin-bottom-48 { margin-bottom:48px; }
.margin-bottom-49 { margin-bottom:49px; }
.margin-bottom-50 { margin-bottom:50px; }
.margin-bottom-51 { margin-bottom:51px; }
.margin-bottom-52 { margin-bottom:52px; }
.margin-bottom-53 { margin-bottom:53px; }
.margin-bottom-54 { margin-bottom:54px; }
.margin-bottom-55 { margin-bottom:55px; }
.margin-bottom-56 { margin-bottom:56px; }
.margin-bottom-57 { margin-bottom:57px; }
.margin-bottom-58 { margin-bottom:58px; }
.margin-bottom-59 { margin-bottom:59px; }
.margin-bottom-60 { margin-bottom:60px; }
/* ---------- */

/* padding classes */ 
.nopadding { padding:0px; }

.padding-1 { padding:1px; }
.padding-2 { padding:2px; }
.padding-3 { padding:3px; }
.padding-4 { padding:4px; }
.padding-5 { padding:5px; }
.padding-6 { padding:6px; }
.padding-7 { padding:7px; }
.padding-8 { padding:8px; }
.padding-9 { padding:9px; }
.padding-10 { padding:10px; }
.padding-11 { padding:11px; }
.padding-12 { padding:12px; }
.padding-13 { padding:13px; }
.padding-14 { padding:14px; }
.padding-15 { padding:15px; }
.padding-16 { padding:16px; }
.padding-17 { padding:17px; }
.padding-18 { padding:18px; }
.padding-19 { padding:19px; }
.padding-20 { padding:20px; }
.padding-21 { padding:21px; }
.padding-22 { padding:22px; }
.padding-23 { padding:23px; }
.padding-24 { padding:24px; }
.padding-25 { padding:25px; }
.padding-26 { padding:26px; }
.padding-27 { padding:27px; }
.padding-28 { padding:28px; }
.padding-29 { padding:29px; }
.padding-30 { padding:30px; }
.padding-31 { padding:31px; }
.padding-32 { padding:32px; }
.padding-33 { padding:33px; }
.padding-34 { padding:34px; }
.padding-35 { padding:35px; }
.padding-36 { padding:36px; }
.padding-37 { padding:37px; }
.padding-38 { padding:38px; }
.padding-39 { padding:39px; }
.padding-40 { padding:40px; }

.padding-left-0 { padding-left:0; }
.padding-left-1 { padding-left:1px; }
.padding-left-2 { padding-left:2px; }
.padding-left-3 { padding-left:3px; }
.padding-left-4 { padding-left:4px; }
.padding-left-5 { padding-left:5px; }
.padding-left-6 { padding-left:6px; }
.padding-left-7 { padding-left:7px; }
.padding-left-8 { padding-left:8px; }
.padding-left-9 { padding-left:9px; }
.padding-left-10 { padding-left:10px; }
.padding-left-11 { padding-left:11px; }
.padding-left-12 { padding-left:12px; }
.padding-left-13 { padding-left:13px; }
.padding-left-14 { padding-left:14px; }
.padding-left-15 { padding-left:15px; }
.padding-left-16 { padding-left:16px; }
.padding-left-17 { padding-left:17px; }
.padding-left-18 { padding-left:18px; }
.padding-left-19 { padding-left:19px; }
.padding-left-20 { padding-left:20px; }
.padding-left-21 { padding-left:21px; }
.padding-left-22 { padding-left:22px; }
.padding-left-23 { padding-left:23px; }
.padding-left-24 { padding-left:24px; }
.padding-left-25 { padding-left:25px; }
.padding-left-26 { padding-left:26px; }
.padding-left-27 { padding-left:27px; }
.padding-left-28 { padding-left:28px; }
.padding-left-29 { padding-left:29px; }
.padding-left-30 { padding-left:30px; }
.padding-left-31 { padding-left:31px; }
.padding-left-32 { padding-left:32px; }
.padding-left-33 { padding-left:33px; }
.padding-left-34 { padding-left:34px; }
.padding-left-35 { padding-left:35px; }
.padding-left-36 { padding-left:36px; }
.padding-left-37 { padding-left:37px; }
.padding-left-38 { padding-left:38px; }
.padding-left-39 { padding-left:39px; }
.padding-left-40 { padding-left:40px; }
.padding-left-41 { padding-left:41px; }
.padding-left-42 { padding-left:42px; }
.padding-left-43 { padding-left:43px; }
.padding-left-44 { padding-left:44px; }
.padding-left-45 { padding-left:45px; }
.padding-left-46 { padding-left:46px; }
.padding-left-47 { padding-left:47px; }
.padding-left-48 { padding-left:48px; }
.padding-left-49 { padding-left:49px; }
.padding-left-50 { padding-left:50px; }
.padding-left-80 { padding-left:80px; }

.padding-right-0 { padding-right:0px; }
.padding-right-1 { padding-right:1px; }
.padding-right-2 { padding-right:2px; }
.padding-right-3 { padding-right:3px; }
.padding-right-4 { padding-right:4px; }
.padding-right-5 { padding-right:5px; }
.padding-right-6 { padding-right:6px; }
.padding-right-7 { padding-right:7px; }
.padding-right-8 { padding-right:8px; }
.padding-right-9 { padding-right:9px; }
.padding-right-10 { padding-right:10px; }
.padding-right-11 { padding-right:11px; }
.padding-right-12 { padding-right:12px; }
.padding-right-13 { padding-right:13px; }
.padding-right-14 { padding-right:14px; }
.padding-right-15 { padding-right:15px; }
.padding-right-16 { padding-right:16px; }
.padding-right-17 { padding-right:17px; }
.padding-right-18 { padding-right:18px; }
.padding-right-19 { padding-right:19px; }
.padding-right-20 { padding-right:20px; }
.padding-right-21 { padding-right:21px; }
.padding-right-22 { padding-right:22px; }
.padding-right-23 { padding-right:23px; }
.padding-right-24 { padding-right:24px; }
.padding-right-25 { padding-right:25px; }
.padding-right-26 { padding-right:26px; }
.padding-right-27 { padding-right:27px; }
.padding-right-28 { padding-right:28px; }
.padding-right-29 { padding-right:29px; }
.padding-right-30 { padding-right:30px; }
.padding-right-31 { padding-right:31px; }
.padding-right-32 { padding-right:32px; }
.padding-right-33 { padding-right:33px; }
.padding-right-34 { padding-right:34px; }
.padding-right-35 { padding-right:35px; }
.padding-right-36 { padding-right:36px; }
.padding-right-37 { padding-right:37px; }
.padding-right-38 { padding-right:38px; }
.padding-right-39 { padding-right:39px; }
.padding-right-40 { padding-right:40px; }
.padding-right-41 { padding-right:41px; }
.padding-right-42 { padding-right:42px; }
.padding-right-43 { padding-right:43px; }
.padding-right-44 { padding-right:44px; }
.padding-right-45 { padding-right:45px; }
.padding-right-46 { padding-right:46px; }
.padding-right-47 { padding-right:47px; }
.padding-right-48 { padding-right:48px; }
.padding-right-49 { padding-right:49px; }
.padding-right-50 { padding-right:50px; }
.padding-right-80 { padding-right:50px; }

.padding-top-0 { padding-top:0px; }
.padding-top-1 { padding-top:1px; }
.padding-top-2 { padding-top:2px; }
.padding-top-3 { padding-top:3px; }
.padding-top-4 { padding-top:4px; }
.padding-top-5 { padding-top:5px; }
.padding-top-6 { padding-top:6px; }
.padding-top-7 { padding-top:7px; }
.padding-top-8 { padding-top:8px; }
.padding-top-9 { padding-top:9px; }
.padding-top-10 { padding-top:10px; }
.padding-top-11 { padding-top:11px; }
.padding-top-12 { padding-top:12px; }
.padding-top-13 { padding-top:13px; }
.padding-top-14 { padding-top:14px; }
.padding-top-15 { padding-top:15px; }
.padding-top-16 { padding-top:16px; }
.padding-top-17 { padding-top:17px; }
.padding-top-18 { padding-top:18px; }
.padding-top-19 { padding-top:19px; }
.padding-top-20 { padding-top:20px; }
.padding-top-21 { padding-top:21px; }
.padding-top-22 { padding-top:22px; }
.padding-top-23 { padding-top:23px; }
.padding-top-24 { padding-top:24px; }
.padding-top-25 { padding-top:25px; }
.padding-top-26 { padding-top:26px; }
.padding-top-27 { padding-top:27px; }
.padding-top-28 { padding-top:28px; }
.padding-top-29 { padding-top:29px; }
.padding-top-30 { padding-top:30px; }
.padding-top-31 { padding-top:31px; }
.padding-top-32 { padding-top:32px; }
.padding-top-33 { padding-top:33px; }
.padding-top-34 { padding-top:34px; }
.padding-top-35 { padding-top:35px; }
.padding-top-36 { padding-top:36px; }
.padding-top-37 { padding-top:37px; }
.padding-top-38 { padding-top:38px; }
.padding-top-39 { padding-top:39px; }
.padding-top-40 { padding-top:40px; }
.padding-top-41 { padding-top:41px; }
.padding-top-42 { padding-top:42px; }
.padding-top-43 { padding-top:43px; }
.padding-top-44 { padding-top:44px; }
.padding-top-45 { padding-top:45px; }
.padding-top-46 { padding-top:46px; }
.padding-top-47 { padding-top:47px; }
.padding-top-48 { padding-top:48px; }
.padding-top-49 { padding-top:49px; }
.padding-top-50 { padding-top:50px; }
.padding-top-51 { padding-top:51px; }
.padding-top-52 { padding-top:52px; }
.padding-top-53 { padding-top:53px; }
.padding-top-54 { padding-top:54px; }
.padding-top-55 { padding-top:55px; }
.padding-top-56 { padding-top:56px; }
.padding-top-57 { padding-top:57px; }
.padding-top-58 { padding-top:58px; }
.padding-top-59 { padding-top:59px; }
.padding-top-60 { padding-top:60px; }
.padding-top-61 { padding-top:61px; }
.padding-top-62 { padding-top:62px; }
.padding-top-63 { padding-top:63px; }
.padding-top-64 { padding-top:64px; }
.padding-top-65 { padding-top:65px; }
.padding-top-66 { padding-top:66px; }
.padding-top-67 { padding-top:67px; }
.padding-top-68 { padding-top:68px; }
.padding-top-69 { padding-top:69px; }
.padding-top-70 { padding-top:70px; }

.padding-bottom-0 { padding-bottom:0px; }
.padding-bottom-1 { padding-bottom:1px; }
.padding-bottom-2 { padding-bottom:2px; }
.padding-bottom-3 { padding-bottom:3px; }
.padding-bottom-4 { padding-bottom:4px; }
.padding-bottom-5 { padding-bottom:5px; }
.padding-bottom-6 { padding-bottom:6px; }
.padding-bottom-7 { padding-bottom:7px; }
.padding-bottom-8 { padding-bottom:8px; }
.padding-bottom-9 { padding-bottom:9px; }
.padding-bottom-10 { padding-bottom:10px; }
.padding-bottom-11 { padding-bottom:11px; }
.padding-bottom-12 { padding-bottom:12px; }
.padding-bottom-13 { padding-bottom:13px; }
.padding-bottom-14 { padding-bottom:14px; }
.padding-bottom-15 { padding-bottom:15px; }
.padding-bottom-16 { padding-bottom:16px; }
.padding-bottom-17 { padding-bottom:17px; }
.padding-bottom-18 { padding-bottom:18px; }
.padding-bottom-19 { padding-bottom:19px; }
.padding-bottom-20 { padding-bottom:20px; }
.padding-bottom-21 { padding-bottom:21px; }
.padding-bottom-22 { padding-bottom:22px; }
.padding-bottom-23 { padding-bottom:23px; }
.padding-bottom-24 { padding-bottom:24px; }
.padding-bottom-25 { padding-bottom:25px; }
.padding-bottom-26 { padding-bottom:26px; }
.padding-bottom-27 { padding-bottom:27px; }
.padding-bottom-28 { padding-bottom:28px; }
.padding-bottom-29 { padding-bottom:29px; }
.padding-bottom-30 { padding-bottom:30px; }
.padding-bottom-31 { padding-bottom:31px; }
.padding-bottom-32 { padding-bottom:32px; }
.padding-bottom-33 { padding-bottom:33px; }
.padding-bottom-34 { padding-bottom:34px; }
.padding-bottom-35 { padding-bottom:35px; }
.padding-bottom-36 { padding-bottom:36px; }
.padding-bottom-37 { padding-bottom:37px; }
.padding-bottom-38 { padding-bottom:38px; }
.padding-bottom-39 { padding-bottom:39px; }
.padding-bottom-40 { padding-bottom:40px; }
.padding-bottom-41 { padding-bottom:41px; }
.padding-bottom-42 { padding-bottom:42px; }
.padding-bottom-43 { padding-bottom:43px; }
.padding-bottom-44 { padding-bottom:44px; }
.padding-bottom-45 { padding-bottom:45px; }
.padding-bottom-46 { padding-bottom:46px; }
.padding-bottom-47 { padding-bottom:47px; }
.padding-bottom-48 { padding-bottom:48px; }
.padding-bottom-49 { padding-bottom:49px; }
.padding-bottom-50 { padding-bottom:50px; }
.padding-bottom-51 { padding-bottom:51px; }
.padding-bottom-52 { padding-bottom:52px; }
.padding-bottom-53 { padding-bottom:53px; }
.padding-bottom-54 { padding-bottom:54px; }
.padding-bottom-55 { padding-bottom:55px; }
.padding-bottom-56 { padding-bottom:56px; }
.padding-bottom-57 { padding-bottom:57px; }
.padding-bottom-58 { padding-bottom:58px; }
.padding-bottom-59 { padding-bottom:59px; }
.padding-bottom-60 { padding-bottom:60px; }
.padding-bottom-61 { padding-bottom:61px; }
.padding-bottom-62 { padding-bottom:62px; }
.padding-bottom-63 { padding-bottom:63px; }
.padding-bottom-64 { padding-bottom:64px; }
.padding-bottom-65 { padding-bottom:65px; }
.padding-bottom-66 { padding-bottom:66px; }
.padding-bottom-67 { padding-bottom:67px; }
.padding-bottom-68 { padding-bottom:68px; }
.padding-bottom-69 { padding-bottom:69px; }
.padding-bottom-70 { padding-bottom:70px; }
/* ------------------ */

.common-table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    font-size: 16px;
}

.common-table th, td {
    padding: 8px;
}

.common-table th {
    color: #39a250;
    background-color: #f4f4f4;
}

.common-table tr:nth-child(even){background-color: #ebf6ed; border-bottom: 2px solid #fff;}
.common-table tr:nth-child(odd){background-color: #f5faf6; border-bottom: 2px solid #fff;}

.abs-middle { margin-bottom:.25em; vertical-align:middle; margin-right: 4px; }

.column-seminar { padding-left: 28px; }
.column-date { text-align: center; }
.column-info { text-align: center; }
.column-cart { text-align: center; }
.column-cart button { border-radius: 25px; font-size: 14px; padding-left: 20px; padding-right: 20px; font-weight: 600; }

.member-box { background-color: #eeffd3; border: 2px solid #3aa251; border-radius: 12px; text-align: center; }
.member-box p { font-size: 18px; }

.form-box { -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.45); -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.45); box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.45); background-color: #fff; padding-left:30px; padding-right:30px; padding-top: 12px; padding-bottom: 30px; border-radius: 10px; }
.form-box p { color: #353535; font-size: 14px; font-weight:700; margin: 0px; margin-bottom: 5px; margin-top: 12px; }
input[type="text"],select,input[type="password"],input[type="email"] { padding-top:20px; padding-bottom:20px; border-radius: 7px; }
.form-box select { height:42px; border-radius: 7px; }

.form-box a:link{text-decoration: none; color: #449d44;}
.form-box a:visited{text-decoration: none; color: #449d44;}
.form-box a:hover{border-bottom: 1px dotted #449d44;  color: #449d44;}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;  
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 15%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}

.checkbox label { padding-left: 0px; padding-top: 8px; }
.form-btn { border-radius: 20px; width: 100%; font-weight: 700; font-size: 16px; }
.cart-table { font-size: 16px; }
.del-btn { background-color: #000; border-radius: 5px; color: #fff; text-align: center; padding: 3px; padding-left: 7px; padding-right: 7px; }
.del-btn:hover { background-color: #000; border-radius: 5px; color: #fff; text-align: center; padding: 3px; padding-left: 7px; padding-right: 7px; }
.del-btn:focus { background-color: #000; border-radius: 5px; color: #fff; text-align: center; padding: 3px; padding-left: 7px; padding-right: 7px; }
.cart-table .badge { padding:5px; padding-left: 10px; padding-right: 10px; font-weight: normal; }
.cart-table .smalltext { color:#6f6f6f; font-size: 14px; }
.cart-table p { line-height: normal; }
a.cart-table-link:link{text-decoration: none; color: #449d44;}
a.cart-table-link:visited{text-decoration: none; color: #449d44;}
a.cart-table-link:hover{border-bottom: 1px dotted #449d44;  color: #449d44;}
.cart-table .table > tbody > tr > td {
     vertical-align: middle;
     padding-top: 12px;
     padding-bottom: 12px;
}
