header{
	position:fixed;
	top:0px;
	width:100%;
	z-index:999;	
  transition:all 0.7s ease;
}

.width-ratio {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: #e8e8e8;
}
 
.width-ratio:before {
    content: '';
    display: block;
}

.ratio1-1::before {
    padding-top: 100%;
}

.ratio2-1::before {
    padding-top: 50%;
}

.ratio4-3::before {
    padding-top: 75%;
}

.ratio3-1::before {
    padding-top: 33.33%;
}

.ratio16-9::before {
    padding-top: 56.25%;
}

.contenido {
    position: absolute;
    content: none;
    display: block !important;
    left: 0;
    top: 0;
    margin: auto;
	    object-fit: cover;
}

/* Nav Top  */
.nav-top {
    background-color: #1342d0;
    color: #fff;
    font-size:13px;
}
.nav-top .row {
    align-items: center;
}
a.btn.btn-green {
    background-color: #90db73;
    border-radius: 0px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
}
.nav-top a {
    color: inherit;
    font-size:inherit;
}

a.btn.btn-white {
font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.2px;
    background-color: transparent;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0px;
    margin-left: 9px;
    border: 1px solid;
}
.col-left {
   display:flex;
}
.col-left > a {
    padding-right: 7px;
    margin-right: 5px;
    position:relative;
}
/* .col-lg-6.col-left > a:before { */
    /* content: ''; */
    /* position: absolute; */
    /* width: 1px; */
    /* height: 10px; */
    /* background: #fff; */
    /* right: 0px; */
    /* top: 0; */
    /* bottom: 0px; */
    /* margin: auto; */
/* } */

.custom-header {
  background: #292c2f;
  padding: 0px 40px;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
}

.custom-header a.navbar-brand {
  color: #4a4a4a;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 0.5;
  margin-right: 40px;
  background: #292c2f;
}

.custom-header a.navbar-brand span {
  color: #bc40df;
}
.custom-header ul.nav.navbar-nav.links > li{
 border-bottom:2px solid transparent;
}
.custom-header ul.nav.navbar-nav.links > li  >a {
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  background: #292c2f;
  border: 0;
  font-family: poppins;
  position: relative;
  text-align: left;
}
.custom-header ul.nav.navbar-nav.links li.dropdown .dropdown-menu a:before{display:none;}
.custom-header ul.nav.navbar-nav.links li:not(:last-child) a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 10px;
    background: rgb(255, 255, 255);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.custom-header ul.nav.navbar-nav li a:hover {
  opacity: 1;
}
@media (max-width:991px){
	#navbar-collapse{
		max-height:400px;
		overflow-x:hidden;
		overflow-y:auto;
	}
}
.custom-header .badge {
  position: absolute;
  top: 4px;
  border-radius: 2px;
  font-size: 11px;
  color: #fff;
  background-color: #2A6A92;
  padding: 2px 4px;
  font-weight: normal;
}

.custom-header .dropdown-menu{
    padding: 0px;
    border-radius: 0px;
}

.custom-header li.dropdown .dropdown-toggle {
  border-radius: 2px;
  color: #fff;
  padding: 8px 14px;
  background: #3a3c3e;
  border: 0;
  margin: 0;
}
.custom-header ul.nav.navbar-nav > li:hover{
	border-color:#ffffff;
}
.sticky .custom-header ul.nav.navbar-nav > li:hover{
	border-color : rgb(62, 152, 239);
}
.sticky .custom-header ul.nav.navbar-nav > li:hover >a {
	color : rgb(62, 152, 239) !important;
}

.custom-header li.dropdown.show{
 border-bottom: 5px solid rgb(62, 152, 239);
}

.custom-header li.dropdown .dropdown-toggle:focus, .custom-header li.dropdown .dropdown-toggle:hover, .custom-header li.dropdown .dropdown-toggle:active {
  background: #3a3c3e;
  color: #fff;
}

.custom-header ul.nav.navbar-nav.navbar-right .dropdown li a {
  font: bold 13px Arial, Helvetica, sans-serif;
}

img.dropdown-image {
  border-radius: 50%;
  width: 32px;
  margin-left: 10px;
}

.custom-header .dropdown ul {
  border: 0;
  min-width: 215px;
  padding: 15px 15px 25px 15px;
  margin-top:0px;
}

.custom-header .dropdown ul li {
  padding: 7px;
  text-align: center;
}

.custom-header .dropdown ul li a {
  color: #3a3c3e;
  color: #fff;
  padding: 0;
  text-align:left;
}

.custom-header .dropdown ul li a:active, .custom-header .dropdown ul li a:focus, .custom-header .dropdown ul li a:hover {
  background: #3a3c3e;
}

.custom-header .dropdown ul li.active a {
  color: #e9ac09 !important;
}


.row.fixedrow {
  max-width: 1150px;
  margin: 0 auto;
}
@media (min-width: 576px){
	.row.fixedrow {
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.row.fixedrow {
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.row.fixedrow {
		max-width: 960px;
	}
}

@media (min-width: 1200px){
	.row.fixedrow {
		max-width: 1140px;
	}
}



.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  padding: 0px;
  margin: 0px;
}

#footer h1 {
  color: #fff;
  text-align: center;
}

.h3, h3 {
  font-size: 28px;
  line-height: 69px;
  letter-spacing: 0.3px;
}

#footer h3 {
  color: #ffffff;
}

.h1, h1 {
  font-size: 45px;
  letter-spacing: 0.3px;
}

#footerheadingunderline {
  vertical-align: middle;
  opacity: 0.4;
}

.footerunderlinewrapper {
  text-align: center;
}

#footer p {
  color: #ffffff;
}

p {
  font-family: poppins;
  font-weight: 300;
  font-size: inherit;
  line-height: 30px;
  letter-spacing: 0.1px;
}

ul li {
}

ul li {
  font-family: poppins;
  font-weight: 300;
  font-size: inherit;
  line-height: 30px;
  letter-spacing: 0.1px;
  list-style-type: none;
  padding-bottom: 5px;
}

#footer ul li a {
  color: #ffffff;
}

#footer ul {
  padding: 0px;
}

#footer {
  background-color: #1342D0;
  padding-top: 100px;
}

#footer hr {
  border: 1px solid #19a987;
  padding-bottom: 100px;
}

#horizontalpartition {
  border-top: 1px solid #ffffff;
  width: 100%;
  height: 60px;
}

#footercopyrighttext {
  background-color: #0f3abf;
}

#footercopyrighttext p {
   color: #fff;
  margin-top: 1rem;
}

c {
  text-align: center;
}

.center {
  text-align: center;
}

#divRowMainFeatures h1 {
  color: #1342d0;
}

.divMainFeatures {
  text-align: center;
  padding-bottom: 30px;
}

#divMainFeaturesIcon {
  padding-top: 45px;
}

#divRowMainFeatures {
  padding: 50px 0px;
}

#horizontallinemainfeatures {
  margin-bottom: 30px;
  margin-top: 20px;
  background-image: linear-gradient(to right, #123ecf, #53c1fd 48%, #a8e63c);
  height: 2px;
}

#divRowVCCOnlineService h1 {
  text-align: center;
}

.UnderlineHeadingH1 {
  text-align: center;
}

#divRowVCCOnlineService h1 {
  color: #1342d0;
}

.divColorCaptionBox {
  background-size: cover;
  padding: 20px 30px;
  color: #ffffff;
  background-repeat: no-repeat;
  margin-bottom: 40px;
    background: linear-gradient(to bottom right, #2845d1 0%,#61c3f1,#a0e34e 100%);

}
.divDotbgCaptionBox {
  background-image: url("../assets/img/dot-pattern.png");
  padding: 20px 30px;
}
.divColorCaptionBox p {
  font-size: 20px;
  padding: 5px 0px;
  text-align: left
}
.divColorCaptionBox img {
  width: 14px;
}

.divCaptionBoxIcon {
  width: 95%;
  float: right;
  background-color: #1342D0;
  min-height: 200px;
  text-align: center;
  padding-top: 40px;
}

.divVCCCaptionBox h6 {
  color: #1443D1;
  font-family: poppins;
  font-weight: 500;
  font-size: 18px;
}

.btnEnroll {
  color: #3F98F2;
  font-family: poppins;
  font-weight: 600;
  float: right;
  border: 1px solid #3F98F2;
  border-radius: 30px;
  padding: 5px 10px;
  font-size: 14px;
}

#divRowVCCOnlineService {
  padding: 50px 0px;
}

.divHeadingBottomH6 {
  text-align: left;
  word-spacing: 6px;
  width: 59px;
}

.divHeadingBottomH6 img {
  height: 4px;
}

.para {
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: left;
}

@media (max-width: 600px) {
  .para {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
  }
}

@media (max-width: 600px) {
  .divColorCaptionBox.floatingbox {
    position: absolute;
    display: inline-block;
    float: left;
    right: 45%;
    top: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #divKanpurSmartCityImage {
    height: 98%;
    width: 105%;
    padding: 8px;
    display: inline-block;
    position: relative;
    top: 70px;
  }
}

#divRowKanpurSmartCity h1 {
  color: #1342d0;
}

.btnReadMore {
  font-family: poppins;
  color: #4A4A4A;
  padding: 10px 25px;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  -webkit-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  -moz-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
}

.btnReadMore {
  font-family: poppins;
  color: #4A4A4A;
  padding: 10px 25px;
  border: 1px solid #f2f2f2;
  border-radius: 30px;
  -webkit-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  -moz-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
}

.btnReadMore:hover {
  color: #0056b3;
  text-decoration: underline;
}

#divRowKanpurSmartCity {
  padding: 50px 0px;
}

@media only screen and (max-width: 600px) {
  #divRowKanpurSmartCity {
    margin-bottom: 100px;
  }
}

@media (min-width: 600px) {
  #divKanpurSmartCityImage {
    /* height: 93%; */
    border: 1px solid #f2f2f2;
    width: 75%;
    padding: 8px;
    display: inline-block;
    position: relative;
    top: 25px;
  }
}

@media (min-width: 600px) {
  .divColorCaptionBox.floatingbox {
    position: absolute;
    display: inline-block;
    width: 258px;
    float: right;
    right: 0px;
  }
}

#divKanpurSmartCityImage:hover {
  -webkit-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  -moz-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
}

.divCaptionBoxImage {
  width: 95%;
  float: right;
   text-align: center;
 }

.divCaptionBox {
  min-height: 245px;
  padding: 25px 20px 0px 20px;
  width: 100%;
  margin: 0px 0px;
  display: inline-block;
  position: relative;
  top: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #EEEEEE;
}

.divCaptionBox h6 {
  color: #1443D1;
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
}
div#divPanCityProjects {
	padding:50px 0 0px;
}
.divReadMore a {
  text-align: right;
  color: #1443D1;
  font-weight: 600;
  font-family: poppins;
  font-size: 16px;
  float: right;
}

#divPanCityProjects h1 {
  text-align: center;
  color: #1342d0;
}

.divCaptionBox:hover {
  -webkit-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  -moz-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
  box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51);
}

#divAreaBasedDevelopmentProjects h1 {
  text-align: center;
  color: #1342d0;
}

#divAreaBasedDevelopmentProjects .divCaptionBoxImage {
  float: left;
}

#divAreaBasedDevelopmentProjects .divCaptionBox {
  float: right;
}

#divAreaBasedDevelopmentProjects {
  padding: 0px 0px;
}

.divCaptionBoxImage.imgBoardMembers {
  min-height: 325px;
}

.boardMembersName {
  font-weight: bold;
  font-size: 15px !important;
  color: #797878;
}

#divOurBoardMembers p {
  font-size: 13px;
  margin: 0px;
}

#divOurBoardMembers .divCaptionBox {
      min-height: 170px;
    margin-bottom: 20px;
}

@media (max-width: 600px) {
  #divOurBoardMembers .imgBoardMembers {
    width: 80%;
    height: 95%;
  }
}

#divBoardMember {
}

#divOurBoardMembers {
  padding: 50px 0px;
}

@media (max-width: 600px) {
  #divOurBoardMembers #divBoardMember {
    padding: 100px 0px;
  }
}

.divColorCaptionBox .divColorCaptionBox {
  padding: 0px;
}

.h2, h2 {
}

#divOurBoardMembers .divColorCaptionBox {
  padding: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff !important;
  z-index: 1000;
  -webkit-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51) !important;
  -moz-box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51) !important;
  box-shadow: 0px 21px 33px 3px rgba(214,214,214,0.51) !important;
  transition:all 0.7s ease;
}

/*
.sticky a {
  color: #212529 !important;
}
*/

.navbar-dark .navbar-brand {
  font-family: poppins;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  padding-right: 24px;
}

.nav-item a {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid rgba(255,255,255,0.22);
}

#navcol-1 ul li {
  font-family: poppins;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  list-style-type: none;
}

#navcol-1 ul li a {
  padding: 0px 15px;
}

.navbar-brand {
  line-height: 20px;
  font-family: poppins;
  font-weight: 800;
  color: #ffffff;
}

.fa.fa-bars.menuicon {
  font-size: 25px;
}

.navbar-nav.links li a {
  background-color: rgba(255,255,255,0);
}

.nav li a {
  background-color: rgba(255,255,255,0) !important;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .nav.navbar-nav.links li {
    border-bottom: 1px solid #4a4a4a1f;
    padding: 10px 0px;
    background-color: #ffffff !important;
    color: #4a4a4a;
  }
}

@media screen and (max-width: 1000px) {
  .nav.navbar-nav.links li a {
    color: #4a4a4a !important;
  }
}

.navbar-light .navbar-brand {
  background-color: rgba(255,255,255,0);
}

#logoimg {
  content: url(../assets/img/logo_kanpur_smart_city_white.png);
}

.sticky #logoimg {
  content: url(../assets/img/logo_kanpur_smart_city_sticky.png);
  height: 69px;
}

.sticky .nav.navbar-nav.links a {
  color: #4a4a4a!important;
}

.wrapperother {    
    min-height: 600px;
    overflow: auto;
    max-height: 1000px;
    position:relative;
   
}
/*
.wrapperother:before{
	background-image: url("../assets/img/about-kanpur.png");
    background-repeat: no-repeat;
    background-position: right top;
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    right:0px;
    bottom:0px;
    background-size: calc(100vw - 25px);
}
@media screen and (max-width: 1199px) {
	.wrapperother:before{
		background-size: calc(100vw - 25px);
	}
}
*/


#divTopBanner .banner-inner:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/about-kanpur.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.banner-content{
	position: absolute; 
	top: 50px; 
	left: 10%; 
	margin-top: 150px;
}
.banner-content h3{
	text-align: left;
	line-height:normal;
}
.banner-content h3 + div{
	text-align: left;
	line-height:normal;
}

#divTopBanner.pancity .banner-inner:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/about-kanpur.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#divTopBanner.smarturban .banner-inner:before {
    position: absolute;
    content: '';
    background-image: url(../assets/img/smarturbanform.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#divTopBanner.home-banner .banner-inner:before {
    position: absolute;
    content: '';
    background-image: url("../assets/img/homebanner2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
}
#divTopBanner .banner-inner{	
    padding-top: 42%;
    position: relative;
    margin-right: -15px;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    background-image: url("../assets/img/homebanner2.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
    min-height: 800px;
    overflow: auto;
    max-height: 1000px;
  }

  .wrapperother {
    background-image: url("../assets/img/about-kanpur.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
    min-height: 600px;
    overflow: auto;
    max-height: 1000px;
  }
}

.sticky .nav ul li a {
  color: #4a4a4a !important;
}

.divColorCaptionBox:hover {
  -webkit-box-shadow: -5px 11px 116px -21px rgba(138,138,138,1);
  -moz-box-shadow: -5px 11px 116px -21px rgba(138,138,138,1);
  box-shadow: -5px 11px 116px -21px rgba(138,138,138,1);
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .wrapper {
    background-image: url("../assets/img/homebanner2.png");
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
    max-height: 800px;
    background-position: right bottom !important;
  }
/*
  .wrapperother {
    background-image: url("../assets/img/about-kanpur.png");
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
    max-height: 600px;
  }
*/
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .wrapper {
    background-image: url("../assets/img/homebanner2.png");
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 96%;
  }
  .wrapperother {
    background-image: url("../assets/img/about-kanpur.png");
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 96%;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .wrapper {
    background-image: url("../assets/img/homebanner2.png");
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 96%;
  }
  .wrapperother {
    background-image: url("../assets/img/about-kanpur.png");
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 96%;
  }
}

@media (max-width: 576px) {
  #layeroval {
    background-image: url("../assets/img/Oval.svg");
    width: 350px;
    height: 350px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    top: 0px !important;
    left: 0px !important;
    padding: 60px !important;
  }
}

@media (min-width: 576px) {
  #layeroval {
    background-image: url("../assets/img/Oval.svg");
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 100px;
  }
}

#divOvalParagraph {
  color: #ffffff;
  line-height: 17px;
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  #divOvalParagraph {
    color: #ffffff;
    line-height: 17px;
    margin-bottom: 0px;
    font-size: 13px;
  }
}

#divOvalHeading h1 {
  color: #ffffff;
  font-size: 35px;
}

@media (max-width: 576px) {
  #divOvalHeading h1 {
    color: #ffffff;
    font-size: 25px;
  }
}

#divOvalSubHeading span {
  font-family: poppins;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
}

#layeroval {
  padding: 85px 65px;
  left: -50px;
}

#layeroval a {
  color: #ffffff;
  float: right;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .wrapper {
    background-image: url("../assets/img/homebanner2.png");
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
  }
  .wrapperother {
    background-image: url("../assets/img/about-kanpur.png");
    max-height: 500px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 98%;
  }
}

.sticky {
  padding: 0px;
}

.sticky img {
  width: 130px;
  padding: 10px 0px;
}

.slick-dots li button {
  background: rgba(187,187,187,0.31);
  border-radius: 10px;
}

.previous, .previousvcc {
  float: left;
}

.next, .nextvcc {
  float: right;
}

@media (max-width: 992px) {
  .divPrevNext {
    display: none;
  }
}

.divPrevNext {
  padding: 0px 30%;
}

.slick-dots {
  bottom: 0px;
  padding-bottom: 20px;
  display:none !important;
}

.slick-active button {
  background-color: #388beb !important;
}

.divSnapshot {
  background-image: url('../assets/img/kanpur-area.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.rowsnapshot div {
  padding-bottom: 40px;
}

.rowsnapshot img {
}

.divSnapshot h2 {
  color: #ffffff;
}

.divSnapshot p {
  font-weight: 300;
  font-size: 23px;
  color: #fff;
  padding-top: 30px;
}

.rowsnapshot .center {
  padding-top: 60px;
}

.rowsnapshot img path {
  fill: #ffffff;
}

.row.fixedrow.rowsnapshot {
  padding-top: 50px;
}

.divNewSnapShots h1 {
  color: #1342d0;
  padding-bottom: 25px;
}

.divNewsDate span {
  color: #3e98ef;
  font-size: 15px;
  font-family: poppins;
  font-weight: 400;
  font-size: 20px;
}

.divNewsImage1 {
  height: 175px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
}

.divNewsImage {
  height: 275px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px 0px;
}

.divNewsTitle span {
  font-family: poppins;
  font-weight: 500;
  color: #4a4a4a;
  font-size: 18px;
  line-height: 21px;
}

.divNewsExcerpt {
  font-family: poppins;
  font-weight: 300;
  color: #4a4a4a;
  font-size: 15px;
  line-height: 21px;
}

#divNewsSnapshotsRow {
  padding: 50px 0px;
}

#divNewsTicker .divColorCaptionBox {
  width: 65%;
  float: right;
  height: 190px;
}

.divNewsTickers .divNewsImage {
  width: 106px;
  height: 106px;
}

.divNewsTickers .divNewsExcerpt span {
  font-size: 16px;
  font-weight: 500;
  color: #4a4a4a;
  letter-spacing: 1px;
}

.divNewsTickers .divNewsExcerpt {
  padding-top: 10px;
}

#divNewTickerWrapper {
  padding: 10px;
  background-color: #ededed;
}

#divNewsSnapshotsRow .divColorCaptionBox {
  width: 65%;
  float: right;
}

.divNewSnapShots .divPrevNext {
  padding-top: 10px;
}

.previousnews, .nextnews, .previous, .next {
  cursor: pointer;
}

#divGalleryPic1 {
  width: 389px;
  height: 392px;
  position: absolute;
  top: 100px;
  z-index: 4;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #divGalleryPic1 {
    width: 367px;
    height: 371px;
    position: absolute;
    top: 136px;
    z-index: 4;
  }
}

#divGalleryPic2 {
  width: 350px;
  height: 460px;
  position: absolute;
  left: 362px;
  z-index: 3;
}

@media screen and (max-width: 992px) {
  #divGalleryPic2 {
    width: 295px;
    height: 386px;
    position: static !important;
    left: 362px;
    z-index: 3;
    top: 74px;
  }
}

#divGalleryPic3 {
  width: 564px;
  height: 360px;
  position: absolute;
  left: 600px;
  top: 155px;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  #divGalleryPic3 {
    width: 564px;
    height: 360px;
    position: static !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #divGalleryPic3 {
    width: 446px;
    height: 288px;
    position: absolute;
    top: 239px;
    z-index: 2;
  }
}

#divGalleryPic4 {
  width: 542px;
  height: 415px;
  position: absolute;
  top: 450px;
  left: 101px;
  z-index: 1;
}

#divGallery {
  height: 1000px;
  padding: 50px 0px;
}

@media screen and (min-width: 992px) {
  .gallerypic {
    border: 1px solid #f2f2f2;
    padding: 8px;
    height: 100%;
    background-color: #ffffff;
  }
}

.gallerypic img {
  width: 100%;
}

#divGallery h1 {
  color: #1342d0;
}

@media screen and (max-width: 992px) {
  #divGalleryHeading {
    position: static !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  #divGalleryHeading {
    position: absolute;
    right: 40px;
    top: 50px;
  }
}

#divGalleryHeading {
  position: absolute;
  right: 100px;
  top: 50px;
}

@media screen and (min-width: 992px) {
  #divGalleryWrapperResponsive {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  #divGalleryWrapperResponsive {
    display: block;
    padding: 100px 0px;
  }
}

@media screen and (max-width: 992px) {
  #divGalleryWrapper {
    display: none;
  }
}

.slickgallery img {
  width: 100%;
}

#divRowAboutKanpur h1 {
  color: #1342d0;
}

#divRowAboutKanpur .divColorCaptionBox {
  float: left !important;
  left: 0px;
  top: 30px;
  z-index: 11;
  background: linear-gradient(to bottom right, #2845d1 0%,#61c3f1,#a0e34e 100%);
}

#divRowAboutKanpur {
  padding: 50px 0px;
  height: 780px;
}

#divAboutKanpurImage1 {
  padding: 8px;
  border: 1px solid #f2f2f2;
  width: 287px;
  /* height: 359px; */
  position: absolute;
  right: 100px;
  background-color: #ffffff;
  z-index: 10;
  /* top: -35px; */
}

#divAboutKanpurImage2 {
  padding: 8px;
  border: 1px solid #f2f2f2;
  width: 472px;
  /* height: 361px; */
  position: absolute;
  background-color: #ffffff;
  z-index: 10;
  top: 275px;
  left: 47px;
}

@media (max-width: 992px) {
  #colAboutKanpur #divAboutKanpurImage1 {
    display: none;
  }
}

@media (max-width: 992px) {
  #colAboutKanpur .divColorCaptionBox {
    position: static !important;
    width: 100%;
  }
}

@media (max-width: 992px) {
  #colAboutKanpur #divAboutKanpurImage2 {
    display: none;
  }
}

#colAboutKanpur {
}

@media(max-width: 396px){
  #logoimg{
    width: 150px;
  }
}

/*
/ People Listing
*/
.people-list  div.divHeading{
	padding-top:55px;
}
.row.icon-list h5 {
    min-height: 48px;
}
.row.icon-list > div:not(:last-child):before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 40%;
    background: rgb(151, 151, 151);
}
.row.icon-list > div{
	margin-bottom:25px;
}
.row.icon-list .center{
	width: 234px;
    padding: 25px 0;
    height: 290px;
    border-radius: 30px;   
    margin: 0 auto;
    transition:all 0.7s ease;
}
.row.icon-list .center:hover{
	box-shadow: 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 -1px 27px 0 rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
	.people-list  div.divHeading{
		padding-top:0px;
	}
	.people-list  strong br{display:none;}
	.row.icon-list > div:not(:last-child){
		padding-bottom:25px;
		margin-bottom:25px;
	}
	
	.row.icon-list > div:not(:last-child):before {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 1px;
		width: 40%;
		background: rgb(151, 151, 151);
		top: auto;
		right: auto;
	}
	.people-list .row.icon-list {
		padding-top:25px;
	}
	.people-list .row.icon-list > div:last-child{
		padding-bottom:25px;
		margin-bottom:25px;
	}
	.people-list .row.icon-list > div:last-child:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		height: 1px;
		width: 65%;
		background: rgb(151, 151, 151);
		top: auto;
		right: auto;
	}
}

/*  Strategic Plan  */
div.bg-icon:before {
    background-image: url(../assets/img/strategy-bg.svg);
    background-repeat: no-repeat;
    content: '';
    top: 0;
    left:0px;
    position: absolute;
    width: calc(100% - 15px);
    height: 100%;
}

.bg-icon-flipH:before{
	background-image: url(../assets/img/strategy-bg.svg);
    background-repeat: no-repeat;
    content: '';
    top: 0;
    position: absolute;
    width: calc(100% - 15px);
    height: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.bg-icon-bottom:before{
	background-position:left bottom;
}
.bg-right-icon-center:before {
    background-position: left center;
}
.bg-img-dots{
	background-image: url(../assets/img/dot-pattern.png);
	background-repeat: no-repeat;
}
.bg-img-repeat{
	background-repeat: repeat !important;
}
.pos-lb{
	padding-left: 25px;
    padding-bottom: 25px;
    margin-bottom: -30px;
    background-position:left bottom;
}
.pos-rt{
	padding-right: 25px;
    padding-top: 25px;
    background-position:right top;
}
.bg-img-dots .img-about{
	min-height:425px;
	object-fit:cover;
	object-position:left;
	margin-left:-20px;
}
.title{
	color: rgb(20, 67, 209); 
	font-family: poppins; 
}
.title-md{	
	font-weight: 600; 
	font-size: 20px;
}
.title-sm{	
	font-weight: 400; 
	font-size: 18px;
}
.title-sm + .divHeadingBottom{
	line-height:10px;
}
.title-sm + .divHeadingBottom > img,
.title-md + .divHeadingBottom > img{
	height:4px;
}

.plan-item{margin-bottom:25px;}
.plan-item .plan-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 50px;
    color: rgb(255, 255, 255);
}
.plan-item .plan-icon strong {
    font-size: 96px;
    font-family: Poppins;
    line-height: 96px;
}
.plan-item .plan-icon p {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-bottom:0px;
}
.plan-item  .card-body{
	padding:0px;
    border: 15px solid transparent;
	border-left-width: 2px;
    border-top: 0;
    transition:all 0.7s ease;
}
.plan-item[data-type='Strengths']:hover .card-body {
    border-color:rgb(119, 150, 245) !important;
}
.plan-item[data-type='Weakness']:hover .card-body {
    border-color:rgb(87, 246, 242) !important;
}
.plan-item[data-type='Opportunities']:hover .card-body {
    border-color:rgb(100, 187, 0) !important;
}
.plan-item[data-type='Threats']:hover .card-body {
    border-color:rgb(90, 196, 237) !important;
}
.plan-item p.card-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.86;
    letter-spacing: normal;
    color: rgb(74, 74, 74);
	padding: 25px 5px 5px 15px;
	min-height:200px;
    background-image: url(../assets/img/dot-bg.svg);
}
.strategic-focus-item .divHeading h6{
	color:#1443d1;
	margin-bottom: 0px;
	font-family: poppins; 
	font-weight: 600; 
	font-size: 20px;
}

.strategic-focus-item .card-img-top{
	width: 153px;
    margin: 0 auto;
}
.strategic-focus-item  .card-body .card-text{
  line-height: 1.86;
  letter-spacing: 0.4px;
  color: #4a4a4a;
}

.strategic-focus-item {
	position:relative;
	margin-bottom: 25px;
}
.strategic-focus-item:nth-child(2):before,
.strategic-focus-item:nth-child(4):before {
	content: '';
	position: absolute;
	left: 0px;
	top: 10%;
	width: 1px;
	height: 148px;
	background: rgb(204, 204, 204);
}
.strategic-focus-item:nth-child(4):before { display:none;}
.strategic-focus-item:nth-child(2):after,
.strategic-focus-item:nth-child(4):after {
	content: '';
	position: absolute;
	right: 0px;
	top: 10%;
	width: 1px;
	height: 148px;
	background: rgb(204, 204, 204);
}

@media (max-width:991px){
	.strategic-focus-item:nth-child(2):after,
	.strategic-focus-item:nth-child(4):after{
		display:none;
	}
	.strategic-focus-item:nth-child(4):before { display:block;}
}
@media (max-width:575px){
	.strategic-focus-item:after{
		display:none;
	}
	
	.strategic-focus-item:not(:last-child):before{
		content: '';
		position: absolute;
		left: 50%;
		transform:translateX(-50%);
		top: 100%;
		width: 148px;
		height: 1px;
		background: rgb(204, 204, 204);
	}
}

/* city-vision-and-goal 
 * #divPanCityContent
 * pan-city-content
 * pan-city-item
 * pan-city-img
 *  */
.pan-city-content{
	padding-top:100px;
}
.pan-city-item .pan-city-img{
	background: url(../assets/img/Oval.svg) no-repeat center;
    box-shadow: 0px 6px 30px 3px #ccc;
    padding-bottom: 25px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 0px !important;
}
.pan-city-item .divHeading h6{
	margin-bottom: 0px;
	color: rgb(20, 67, 209);
	font-family: poppins;
	font-weight: 600; 
	font-size: 20px;
}
.pan-city-inner {
    max-width: 360px;
    margin-left:auto;
    margin-right:auto;
}
.pan-city-item .pan-city-img img {
    max-width: 100px;
}
.pan-city-item .pan-city-img h3 {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 45px;
}
.pan-city-inner .btnReadMore:hover {
	background: rgb(19, 66, 208);
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-color: rgb(19, 66, 208);
}
@media (max-width:991px){
	.pan-city-item{
		padding-bottom:25px;
	}
}
@media (min-width:992px){
	.pan-city-item:nth-child(3) {
		margin-top:-15%;
		margin-right:33.33333%;
	}
	.pan-city-item:nth-child(3) .pan-city-inner {
		max-width:260px;
	}
	.pan-city-item:nth-child(2) {
		margin-top:-5%;
	}
	.pan-city-item:nth-child(5) {
		margin-top:-10%;
	}
}

ul.smart-urban-list {
    list-style: none;
    padding-left: 0px;
    position: relative;
}
ul.smart-urban-list:before {
    content: '';
    position: absolute;
    left: 0;
    width: 1px;
    height: 100%;
    background: rgba(74, 74, 74, 0.45);
}
ul.smart-urban-list li {
    padding-left: 15px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
    color: rgb(151, 151, 151);
}
ul.smart-urban-list li > span {
    margin: 0px 15px;
    position: relative;
}
ul.smart-urban-list li > span:first-child:before {
    content: '';
    position: absolute;
    left: -30px;
    width: 2px;
    height: 35px;
    top: -5px;
}
ul.smart-urban-list li > span:last-child {
    display: inline-block;
    width: 0px;
    height: 2px;
    background: rgb(90, 196, 237);
    vertical-align: middle;
    transition: all 0.2s linear;
}

ul.smart-urban-list li:hover {
    color: rgb(19, 66, 208);
}
ul.smart-urban-list li:hover > span:first-child:before {
    background: rgb(19, 66, 208);
}
ul.smart-urban-list li:hover > span:last-child {
    width: 83px;
}

.bg-EssentialFeatures{
	background-image: url('../assets/img/pattern-bg.png');
	background-repeat:no-repeat;
	
}
.essential-feature-content{
	padding-top:100px;
}
.essential-feature-item .essential-feature-img{
	width: 258px;
    height: 258px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
	box-shadow: 0px 6px 30px 3px #ccc;
	position:relative;
}
.essential-feature-item .essential-feature-img h3{
    position: absolute;
    bottom: 0;
    font-size: 45px;
	left: 50%;
    transform: translateX(-50%);
}
.essential-feature-item .divHeading h6{
	margin-bottom: 0px;
	color: rgb(20, 67, 209);
	font-family: poppins;
	font-weight: 600; 
	font-size: 20px;
	
}
.essential-feature-inner > p{
    line-height: normal;
}
.essential-feature-inner .btnReadMore{
	color: rgb(19, 66, 208);
	margin-top: 15px;
    display: inline-block;
}
.essential-feature-inner {
    max-width: 320px;
    margin-left:auto;
    margin-right:auto;
}
@media (max-width:991px){
	.essential-feature-item{
		padding-bottom:25px;
	}
}
@media (min-width:992px){
	.essential-feature-item:nth-child(3),
	.essential-feature-item:nth-child(6),
	.essential-feature-item:nth-child(9) {
		margin-top:-25%;
		margin-right:33.33333%;
	}
	.essential-feature-item:nth-child(3) .essential-feature-inner {
		max-width:260px;
	}
	.essential-feature-item:nth-child(2) {
		margin-top:15%;
	}
	.essential-feature-item:nth-child(4),
	.essential-feature-item:nth-child(7) {
		margin-top:-15%;
	}
	.essential-feature-item:nth-child(5) {
		margin-top:0%;
	}
}

/*  Online Service */
.service-item ul.list-inline li {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(204, 204, 204);
    line-height: normal;
    color: rgb(74, 74, 74);
    font-size: 12px;
}
div#serviceContentSideBar{
    background-color: rgb(238, 238, 238);
    padding: 15px;
}
div#serviceContentSideBar .collapse.show{
	background-color: rgba(90, 196, 237, 0.22);
}
div#serviceContentSideBar .card:not(:first-child) {
    margin-top: -2px;
}
div#serviceContentSideBar .card {
    border-radius: 0px;
}
div#serviceContentSideBar .card-header button.btn.btn-link {
    background-color: rgb(255, 255, 255);
    padding: 14px 14px;
    width: 100%;
    position: relative;
    padding-right: 30px;
    text-decoration: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    color: rgb(74, 74, 74);
}
div#serviceContentSideBar .card-header{padding:0px}
div#serviceContentSideBar .card-header button.btn.btn-link:after {
    content: '‸';
    position: absolute;
    top: 15px;
    right: 8px;
    transform: rotate(180deg);
    font-size: 40px;
    color: rgb(155, 155, 155);
}

div#serviceContentSideBar .list-inline li {
    padding-left: 15px;
    position: relative;
    color: #4a4a4a;
}
div#serviceContentSideBar .list-inline li:before {
    content: '>';
    font-size: 18px;
    line-height: normal;
    position: absolute;
    left: 0px;
    top: 3px;
}


ul.improvement-list {
    padding-left: 0px;
    list-style: none;
    border: 1px solid rgb(204, 204, 204);
    padding: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.03);
    background-color: rgba(196, 239, 255, 0.15);
}
ul.improvement-list li {
    position: relative;
    padding-left: 30px;
    margin-left: -22px;
}
@media (min-width:992px){
	ul.improvement-list li {
		padding-left: 110px;
	}
}
ul.improvement-list li:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgb(90, 196, 237);
    left: 0;
    top: 12px;
}

 .orange-block{
	    background:rgb(60, 60, 60);
    height: 10px;
    width: 10px;
    display: inline-block; 
	border:1px solid;
 }
  .blue-block{
	    background: #1342d0;
    height: 10px;
    width: 10px;
    display: inline-block; 
		border:1px solid;

 }
  .green-block{
	    background: #90db73;
    height: 10px;
    width: 10px;
    display: inline-block; 
		border:1px solid;

 }
.line-divide{
	padding-left:5px;
	padding-right:5px;
}
 
.custom-header .dropdown ul li {
    padding: 2px;
    text-align: center;
    font-size: 0.9rem;
}
.p-l-20 span{
	padding-left:20px;
}
.lang-button{
    border: 0;
    padding: 3px 15px;
    background: #90db73;
}
.custom-header ul.nav.navbar-nav.links > li >a {
    font-size: 13px;
}
.table th, .table td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 1rem;
    font-weight: 400;
}
.table .thead-dark th {
     background-color: #90db73;
    border-color: #90db73;
}
.table {
       border: 1px solid #dee2e6;
}
.thumbnail.fancybox .img-responsive {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.footer-bg{
	 background-image: url("../img/fotterbg.png");
	 min-height: 95px;
    height: 100%;
 }
  .carousel.slide{
	 margin-top:-124px;
 }
  .carousel.slide img{
	width:100%;
 }
  .home-banner-content{
	    left: 0;
    margin: auto;
    right: 0;
    top: 30%
 }
 .home-banner-content p{
	 font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
	margin-bottom:10px !important;
	 text-shadow: 0 2px 14px rgba(0, 0, 0, 0.16);
 }
  .home-banner-content h3{
	 font-size: 60px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.6;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
      text-transform: uppercase;
	   text-shadow: 0 2px 14px rgba(0, 0, 0, 0.16);
 }
 .banner-read-more{
	    text-align: center !important;
 }
  .banner-read-more span{
	 border-radius: 32px;
    box-shadow: 0 2px 15px 0 rgba(7, 7, 7, 0.15);
    background-color: #1342d0;
    color: #fff;
    padding: 7px 20px;
 }
 .banner-read-more{
	     margin-top: 50px;
 }
 .slick-slide img {
     margin: auto;
	     bottom: 0;
    /* width: 100%; */
}

nav > .nav.nav-tabs{

  border: none;
    color:#fff;
    background:transparent;
    border-radius:0;
	    border-bottom: 2px solid #bdbdbd;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color: #262626;
    background: transparent;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
}

nav > div a.nav-item.nav-link.active:after
 {
    content: "";
    position: relative;
    bottom: -51px;
    left: -25%;
    border: 10px solid transparent;
    border-top-color: #bdbdbd;
}
.tab-content{
      background: transparent;
    line-height: 7px;
     padding: 30px 25px;
    border-radius: 14px;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
    padding-top: 0 !important;
    overflow: hidden;
	    margin-top: 40px;
}
.tab-content > .tab-pane {
     padding: 0 40px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
       background: transparent;
    color: #4d98ef;
    border-radius:0;
    transition:background 0.20s linear;
}
.tab-head{
	background-image: linear-gradient(to right, #123ecf, #53c1fd 48%, #a8e63c);
    padding: 10px 20px 5px;
    color: #fff;
    margin-bottom: 20px;
}
.tab-layout-panel h5{
	 font-size: 16px;
  font-weight: 600;
  color: #3e98ef;
  border-bottom:1px solid #cdcdcd;
      padding: 10px 25px;
  margin-bottom:20px;
      margin-left: -40px;
    margin-right: -40px;
}

 
.customradio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
      padding-right: 40px;
}

/* Hide the browser's default radio button */
.customradio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: white;
  border-radius: 50%;
  border:1px solid #4a4a4a;
}

/* On mouse-over, add a grey background color */
.customradio:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.customradio input:checked ~ .checkmark {
  background-color: white;
  border:1px solid #4a4a4a;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.customradio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.customradio .checkmark:after {
      top: 3px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #4a4a4a;

}

/* Custom Radio Button End*/
label{
	  font-size: 14px;
  font-weight: 500;
    line-height: normal;
  letter-spacing: normal;
  color: #4a4a4a;
      margin-top: 5px;
}
.tab-pane .col-6{
	display:inline-flex;
}
.tab-pane .col-6 .row{
	width:100%;
}
.form-control {
    display: block;
    width: 100%;
        padding: 0.2rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.m-b-20{
	margin-bottom:20px;
}
.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
content: "";
    display: inline-block;
    background: #fff;
    width: 0;
    height: 0.2rem;
    position: absolute;
    transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #4d98ef;
  border-color: #4d98ef;
}
.chiller_cb input:checked ~ span:before {
     width: 0.8rem;
    height: 0.1rem;
    transition: width 0.1s;
    transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
    width: 0.3rem;
    height: 0.1rem;
    transition: width 0.1s;
    transition-delay: 0.2s;
}
.chiller_cb input:disabled ~ span {
  background: #ececec;
  border-color: #dcdcdc;
}
.chiller_cb input:disabled ~ label {
  color: #dcdcdc;
}
.chiller_cb input:disabled ~ label:hover {
  cursor: default;
}
.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
      display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid #ccc;
    position: absolute;
    left: 0;
    transition: all 0.2s;
    z-index: 1;
    box-sizing: content-box;
}
.chiller_cb span:before {
      transform: rotate(-55deg);
    top: 0.8rem;
    left: 0.35rem;
}
.chiller_cb span:after {
       transform: rotate(35deg);
    bottom: 0.35rem;
    left: 0.2rem;
}
.tab-pane button{
	border-radius: 32px;
  box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.34);
  background-color: #3e98ef;
      padding: 12px 20px 15px;
    border: 0px;
    color: #fff;
	margin-right:20px;
	margin-top:20px;
}
button:focus,input:focus {
    outline: 1px dotted;
    outline: none;
}
.justify-center{
	text-align:center;
}
.form-control:focus {
 
    box-shadow: none !important;
}
select.form-control:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}
.main-heading h1{
	    font-size: 45px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #1342d0;
    text-transform: uppercase;
}
.fa-calendar-alt{
	    position: absolute;
    right: 25px;
    top: 7px;
    z-index: 3;
}
.input-group > .form-control:not(:last-child), .input-group > .custom-select:not(:last-child) {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.nav-top .btn {
 
    padding: 0.3rem 0.5rem;
   
}
footer .fab {
     font-size: 22px;
    color: #fff;
    padding-right: 10px;
}
.smart-urban-list p{
	    font-size: 1rem;
    line-height: 25px;
}
.pb-5, .py-5 {
    padding-bottom: 1rem !important;
}
.smart-urban-list a{
	text-decoration:none;
	    color: rgb(151, 151, 151);
}
.smart-urban-list a:hover{
	text-decoration:none;
 }
 .banner-inner{
	 margin-left:-15px !important;
 }
 .feature-img{
	     float: left;
    width: 20%;
    padding-right: 20px;
 }
 
.conract-form .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color:transparent;
    background-clip: padding-box;
    border: 0px;
	border-bottom: 1px solid #9e9c9c;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.conract-form  button {
    -webkit-appearance: button;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #0491ff;
    border: 0;
    color: #fff;
    padding: 5px 20px;
    margin: auto;
    text-align: center;
}
.m-t-20{
	margin-top:20px;
}
.m-t-40{
	margin-top:40px;
}

/*.........................style page css............................*/
.contenido {
       height: 100%;
    width: 100%;
}
#divTopBanner .banner-inner:before {
 
    z-index: 0 !important;
}
#divTopBanner.smarturban .banner-inner:before{
      z-index: 0 !important;

}
.slick-slide img {
     bottom: 0;
 }
 .divNewsTickers .edit-icon1{
      padding-top: 0px !important;
 }
 .divNewsTickers .width-ratio{
    margin-bottom: 20px !important;
 }
 #divNewTickerWrapper {
    padding: 15px !important;
 }
 .divNewsDate {
    margin-bottom: 15px;
}
.imgBoardMembers{
    background-position: center center;
}
.divCaptionBoxImage {
    width: 100% !important;
 
}
#divBoardMember .edit_icon {
    display: none;
}
#divBoardMember:hover .edit_icon {
    display: block;
}
.slick-slide img.edit_icon {
    display: none;
}
.divNewsTickers{
  display: inline-block;
}
#divNewTickerWrapper::-webkit-scrollbar-track {
    background-color: #dcdcdc !important;
    border-left: 1px solid #cecece !important;
    border-radius: 9px;
    cursor: pointer;
}
#divNewTickerWrapper::-webkit-scrollbar-thumb {
    background-color: #696767 !important;
    border-radius: 9px;
    cursor: pointer;
}
#divNewTickerWrapper::-webkit-scrollbar {
    width: 4px !important;
    height: 7px !important;
    border-radius: 7px;
    cursor: pointer;
}
#divNewTickerWrapper {
    padding: 10px;
    background-color: #ededed;
     height: 290px;
    overflow-x: hidden;
     overflow-y: scroll;
}
.gallerypic .edit_icon{
bottom: 30px;
    top: auto;
    margin: auto;
    left: 0;
    right: 0;
}
.sticky img {
    width: auto !important;
    padding: initial !important;
 }
 .sticky .nav .user-menu ul li a {
    color: #ffffff !important;
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
        color: #172ba5;
    background: transparent !important;
}
 .user-menu.open .dropdown-menu{
  display: block;
 }
 .user-menu .dropdown-menu{
  display: none;
 }
 .navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 15px 10px;
    box-sizing: border-box;
    width: 100%;
}
.user-footer a{
      padding: 5px 10px;
}
.navbar-nav>.user-menu>.dropdown-menu {
    width: 245px;
}
.user-menu:hover .dropdown-menu {
    display: none;
}
.divCaptionBoxImage.imgBoardMembers{
  background-size: contain;
    width: 100% !important;
}
.ui-slider-tabs {
    padding-top: 40px;
}
.alert-margin{
      margin: 0;
}